@media(max-width:550px){
    header{
        display: flex;
        align-items: self-start;
        gap: 1rem;
    }
    nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.logo>span {
    font-weight: bold;
    font-size: var(--size-h2);
    font-family: var(--font-title);
    color: var(--sencudary);
}

.menu{
    width: 50px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.4s;
}
.menu>span{
    width: 70%;
    height: 1px;
    background-color: white;
}
.menu:active{
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.menu>div{
    width: 7%;
    height: 1px;
    background-color: white;
    
}
.menu>div:nth-child(1){
    transform: rotate(45deg);
    position: absolute;

}
.menu>div:nth-child(2){
    transform: rotate(135deg);
    position: absolute;
}



.links{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.links>a{
    all: unset;
    cursor: pointer;
    font-size: var(--size-h6);
    font-weight: 200;
    transition: .2s;
}

.links>a:hover {
    border-bottom: 1px solid white;
}
