@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

:root {
    --primary: #161519;
    --sencudary: #d5a353;
    --font-title: 'Oswald', sans-serif;
    --font-text: 'Poppins', sans-serif;
    --size-h1: 48px;
    --size-h2: 32px;
    --size-h3: 28px;
    --size-h4: 24px;
    --size-h5: 20px;
    --size-h6: 18px;
    --size-text: 16px;

}

.home {
    background-image: url("../assets/Musculação.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conatainer01 {
    margin: 0 auto;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.homeTitle {
    color: #ffffff46;
    font-family: var(--font-title);
    font-size: 196px;
    transform: translateY(20%);
}

.homeTitle:hover {
    color: #ffffff8e;
    transition: 500ms;
}

.homeSubTitle {
    font-family: var(--font-title);
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    width: 50vw;
}

.homeSubTitle:hover {
    color: #0e0e0e;
    background-color: #ffffff75;
    transition: 0.3s all;
    border-radius: 15px;
}

.homeText {
    color: #ffffff;
    font-size: var(--size-text);
    font-family: var(--font-text);
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.homeText:hover {
    color: #0e0e0e;
    background-color: #ffffff75;
    transition: 0.3s all;
    border-radius: 15px;
}

.strong {
    font-weight: 500;
}

.days {
    width: 100vw;
    padding: 0 10vw;
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.9rem;
}

.day {
    padding: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.384);
    background-color: rgba(0, 0, 0, 0.397);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: 12px;
}

.day:hover {
    transition: 0.3s all;
    border: 1px solid rgba(148, 180, 32, 0.384);
}

.dayTitle {
    font-family: var(--font-title);
    font-size: var(--size-h5);
    color: var(--sencudary);
    font-weight: 500;
}

.dayHour {
    font-family: var(--font-title);
    font-size: var(--size-h6);
    font-weight: 400;

}

.dayList {
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 300;
}

.mainModalidades {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
}

.title {
    text-align: center;
    width: 80%;
    font-family: var(--font-title);
    font-size: var(--size-h1);
    padding: 20px 0;
    color: var(--sencudary);
    border-bottom: 1px solid white;

}

.depoimentos {
    width: 100vw;

    height: auto;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimentos>span {
    width: 80%;
    text-align: center;
    font-family: var(--font-title);
    font-size: var(--size-h1);
    padding: 20px 0;
    border-bottom: 1px solid white;
    color: var(--sencudary);

}

.coments {
    padding-top: 35px;
    width: 80%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
}