* {
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
}

body {
  background-color: #807d78ad;
  font-family: 'Oswald', sans-serif;;
}

#perguntasFeitas{
  text-align: center;
  font-size: 18px;
}

#comments{
  overflow-y: hidden;
  
}

hr {
  margin: 0;
  margin-top: -2px;
  padding: 2px;
  color: #000;
}

#app {
  background-color: #5f5f5f;
  border-radius: .25rem;
  margin: 2rem auto;
  padding: 40px;
  max-width: 32rem;
 height: 30rem;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow-y: auto;
}

label {
  display: block;
  margin-bottom: .5rem;
}

input{
  all: unset;
  border-bottom:1px solid white ;
  padding: 0 .5rem;
  width: 100%;
  margin-bottom: 1rem;
}
textarea{
  all: unset;
  width: 100%;
  background-color: #f9f9f9e0 ;
  padding: .5rem;
  color: #161519;
  border: 2px solid black;
  border-radius: .2rem;
}

button {
  all: unset;
  width: 50%;
  text-align: center;
  padding: .3rem .5rem;
  border: 1px solid white;
  margin: 2% 25%;
transition: .3s;
}
button:hover {
background-color: #f9f9f9;
color: #161519;

}

.comments-list {
  display: flex;
  flex-direction: column;
  padding: 2px;
  height: auto;
}

.comment {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 110px;
  overflow: auto;
}

