* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  color: #fff;
}


.active{
    font-weight: bold;
    border-bottom: 1px solid #eee;
    border: #85838370;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  
body{
  overflow-x: hidden;
}